* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(205, 204, 237);
  background: linear-gradient(
    90deg,
    rgba(205, 204, 237, 1) 0%,
    rgba(142, 221, 237, 1) 100%
  );
}

.container {
  margin: auto;
  padding-inline: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.project {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.title {
  font-size: 25px;
}

.project ul {
  list-style-type: none;
  display: flex;
  gap: 5px;
}

.project ul li {
  font-style: italic;
  color: rgb(86, 85, 85);
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px 30px;
  margin: auto;
  border-radius: 20px;
  background-color: #000;
  color: aqua;
  height: 40px;
  text-decoration: none;
}

.github-img {
  width: 30px;
}

.links__container {
  display: flex;
  gap: 10px;
}

.link__project {
  text-align: center;
  line-height: 40px;
  margin: 0;
  padding: 0px 30px;
  border-radius: 20px;
  background-color: #000;
  color: aqua;
  text-decoration: none;
}
